$size: 10px;

:root {
    --bg-color: #77d1f7;
    --fg-color: white;
    --font-size: 16px;
    --font-weight: normal;
    --border: 1px;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-family: var(--font-family);
    margin: 0;
}

@for $i from 1 through 6 {
    h#{$i} {
    font-size: 4 * $i + var(--font-size);
    }
}
 
/* Style the button */
button {
    /* border */
    border: var(--border) solid var(--bg-color);
    /* background-color */
    background-color: var(--fg-color);
    /* color */
    color: var(--bg-color);
    /* padding */
    padding: $size * 2;
    /* border-radius */
    border-radius: $size + 2;
    /* font-size */
    font-size: var(--font-size) + 2;
    font-weight: var(--font-weight);

    /* Add a hover style */
    &:hover {
        /* background-color */
        background-color: var(--bg-color);
        /* color */
        color: var(--fg-color);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: #222;
    &>ul {
        /* Remove the default styles */
        margin: 0;
        padding: 0;
        list-style-type: none;
        /* Arrange all of the links in a row */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;

        h1 {
            color: var(--fg-color);
        }

        .title {
            padding: {
                left: 1em;
                right: 1em;
            } 
            margin: {
                top: 15px;
                bottom: 15px;
            }
        }
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        ul {
            visibility: hidden;
            opacity: 0;
            min-width: 5em;
            position: absolute;
            left: 0;
            display: none;
        }

        &:hover > ul, ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }

    a {
        color: #b8bbbf;
        text-decoration: none;
        display: inline-block;
        margin: 0.5em;
        &:last-child {
            padding-right: 1em;
        }

        &:hover {
            color: #d7d8db;
        }
    }
}

// forms and controls
// input[type=text], input[type=email], input[type=password], textarea {
//   /* Your styles here */

// }

// switch 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    &::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }
}
 
input:checked + .slider {
    background-color: #b684e8;
    &::before {
        transform: translateX(26px);
    }
}

input:focus + .slider {
    box-shadow: 0 0 1px #b684e8;
}




// checkbox
/* The checkbox */
.control-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}
    

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    &::after {
        content: "";
        position: absolute;
        display: none;
    }
}

