:root {
  --bg-color: #77d1f7;
  --fg-color: white;
  --font-size: 16px;
  --font-weight: normal;
  --border: 1px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-light: #f3f3f3;
  --color-mid: #dedede;
  --color-dark: #313e4f;
  --color-slate: #444444;
  --color-slate-light: #72788e;
  --color-primary: #2a7bd6;
  --color-inactive: #4f637d;
  --font-base: "Lato", sans-serif;
  --metric-rhythm: 1.5rem;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

h1 {
  font-size: 4var(--font-size);
}

h2 {
  font-size: 8var(--font-size);
}

h3 {
  font-size: 12var(--font-size);
}

h4 {
  font-size: 16var(--font-size);
}

h5 {
  font-size: 20var(--font-size);
}

h6 {
  font-size: 24var(--font-size);
}

/* Style the button */
button {
  /* border */
  border: var(--border) solid var(--bg-color);
  /* background-color */
  background-color: var(--bg-color);
  /* color */
  color: var(--fg-color);
  /* padding */
  padding: 20px;
  /* border-radius */
  border-radius: 12px;
  /* font-size */
  font-size: var(--font-size)2;
  font-weight: var(--font-weight);
  /* Add a hover style */
}
button:hover {
  /* background-color */
  background-color: var(--fg-color);
  /* color */
  color: var(--bg-color);
}

.dark {
  background-color: #222;
}

.purple {
  background-color: #b27be3;
}

.dark-blue {
  background-color: #2196F3;
}

.light-blue {
  background-color: #77d1f7;
}

.pink {
  background-color: #f54e9f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
.navbar > ul {
  /* Remove the default styles */
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* Arrange all of the links in a row */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.navbar > ul h1 {
  color: var(--fg-color);
}
.navbar > ul .title {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navbar li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.navbar li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5em;
  position: absolute;
  left: 0;
  display: none;
}
.navbar li:hover > ul, .navbar li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.navbar a {
  color: #b8bbbf;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
}
.navbar a:last-child {
  padding-right: 1em;
}
.navbar a:hover {
  color: #d7d8db;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #b684e8;
}
input:checked + .slider::before {
  transform: translateX(26px);
}

input:focus + .slider {
  box-shadow: 0 0 1px #b684e8;
}

/* The checkbox */
.control-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px;
  cursor: pointer;
  font-size: var(--font-size);
}
.control-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.control-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.control-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
.control-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.control-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

input, textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  font-family: var(--font-family);
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.page-footer {
  display: flex;
  justify-content: center;
}
.page-footer > ul {
  /* Remove the default styles */
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 2em;
}
.page-footer > ul h1 {
  color: var(--fg-color);
}
.page-footer > ul h2 {
  color: var(--fg-color);
}
.page-footer > ul h3 {
  color: var(--fg-color);
}
.page-footer > ul h4 {
  color: var(--fg-color);
}
.page-footer > ul h5 {
  color: var(--fg-color);
}
.page-footer > ul h6 {
  color: var(--fg-color);
}
.page-footer a {
  color: #b8bbbf;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
}
.page-footer a:last-child {
  padding-right: 1em;
}
.page-footer a:hover {
  color: #d7d8db;
}

section {
  border: 1px solid;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  padding: 50px;
}

.link {
  background-color: #fff;
  border: none;
  color: #2196F3;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-size);
  transition: 400ms;
}
.link:hover {
  border-bottom: 1px solid;
  letter-spacing: 4px;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f54e9f;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 2em;
  display: block;
  word-wrap: break-word;
}

/**
 * FLOW UTILITY
 */
.flow {
  --flow-space: var(--metric-rhythm);
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

/**
 * TAB GROUP TAG STYLES
 */
tabs-group > * {
  --flow-space: 2rem;
}

.tabs__triggers {
  display: flex;
  padding: 0 2rem;
  margin: 0 0 var(--metric-rhythm) 0;
  border-bottom: 1px solid var(--color-mid);
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tabs__triggers li {
  list-style: none;
  flex-shrink: 0;
}

.tabs__triggers li + li {
  margin-inline-start: 1rem;
}

.tabs__button {
  font-family: var(--font-base);
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-inactive);
  background: transparent;
  padding: 0.25rem 0.2rem 0.5rem 0.25rem;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.tabs__button[aria-selected=true] {
  color: var(--color-dark);
  border-color: var(--color-primary);
}

.tabs__button:focus {
  outline: none;
}

.tabs__button:focus:not(:hover) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--color-slate-light);
}

.tabs__panel {
  transition: opacity 200ms ease, transform 300ms linear;
}

.tabs__panel[data-state=hidden] {
  opacity: 0;
  transform: translateY(0.5rem);
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

.tabs__panel[data-state=visible] {
  padding: 1rem;
  opacity: 1;
  transform: none;
  transition-delay: 200ms;
}

.tabs__panel p:first-of-type {
  color: var(--color-dark);
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 0;
}

.tabs__panel > * {
  max-width: 50ch;
}

.tabs__panel:focus {
  outline: 1px solid var(--color-mid);
}

/*# sourceMappingURL=style.css.map */
